html {
    font-family: 'Lato', Helvetica, Verdana, sans-serif;
    font-size: 15px;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
header a {
    display: inline-block;
    width: 35%;
}
header nav {
    display: inline-block;
    width: 64.5%;
}
header > nav > ul {
    padding: 0;
    margin: 0;
}
header > nav > ul > li {
    display: inline-block;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align:text-bottom;
    width: 24%;
}
header > nav > ul > li > a {
    width: 100%;
    text-decoration: none;
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}
header > nav > ul > li:hover > a  {
    background-color: #5C9817;
    color: white;
    font-size:1.6rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
header img {
    width: 75%;
    padding: 1rem;
}
.slider {
    height: 7rem;
    background-color: #5C9817;
    box-shadow: inset #538717 0.5em 0.7em 2em,
                inset green 0.6em 0.8em 3em,
                      grey 0.1em 0.3em 0.2em;
}
.slider h1 {
    box-sizing: border-box;
    height: 100%;
    margin: 0 0 0 2%;
    font-size: 2.7rem;
    padding: 2.3%;
    letter-spacing: 0.3rem;
    font-style: italic;
    color: white;
    text-shadow: #5C9817 -0.05em -0.05em 0,
                 #5C9817  -0.06em -0.06em 0,
                 #5C9817  -0.07em -0.07em 0,
                 #5C9817  -0.08em -0.08em 0,
                 #5C9817  -0.09em -0.09em 0,
                 black      -0.10em -0.10em 0,
                 black      -0.11em -0.11em 0,
                 black      -0.12em -0.12em 0,
                 black      -0.13em -0.13em 0,
                 black      -0.14em -0.14em 0,
                 black      -0.15em -0.15em 0;
}
.slider div {
    height: 100%;
}
main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 2% 20%;
}
main div {
    padding: 2%; 
    line-height: 1.5;
}
main div span {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}
.bussines {
    border-radius: 1%;
    border: solid 0.2rem black;
    width: 60%;
}
main div h1 {
    background-color:#5C9817;
    padding: 1%;
    color: white;
     box-shadow: inset #538717 0.5em 0.7em 2em,
                inset green 0.6em 0.8em 3em,
                      grey 0.1em 0.3em 0.2em;
}
.board {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
    border: dotted 0.1rem grey;
}
.promo {
    border-radius: 1%;
    border: solid 0.1rem black;
    display: block;
    box-sizing: border-box;
    width:30%;
}
footer {
    background-color: #5C9817;
    box-shadow: inset #538717 0.5em 0.7em 2em,
                inset green 0.6em 0.8em 3em,
                      grey 0.1em 0.3em 0.2em;
    box-sizing: border-box;
}
footer div {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.data {
    width: 30%;
}
.logo {
    width: 40%;
}
.contact {
    width: 30%;
   
}
.logo figure img{
    width: 100%;
    padding: 2% 15%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.logo figcaption {
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
}
.contact a {
    text-decoration: none;
}
.contact img {
    width:50%;
    margin-left: 10%;
}
@media only screen and (max-width: 54rem) {
      header nav {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    header li a {
        font-size: 1.2rem;
    }
    header > nav > ul > li:hover > a {
        font-size: 1.3rem;
    }
    .slider {
        height: 50%;
    }
    .slider h1 {
        font-size: 2rem;
    }
    main img {
        width: 90%;
    }
    main div h1 {
        font-size: 150%;
    }
    main p  {
        font-size: 0.9rem;
    }
    main ol li {
        font-size: 0.9rem;
    }
    .board {
        width: 80%;
    }
      .logo {
        display: inline-block;
         width: 90%;
        margin-left: 5%;
        text-align: center;
        padding: 0;
    }
    .logo figure img {
        width: 50%;
        margin: 0;
        padding: 5%;
    }
    .data {
       display: block;
        width: 98%;
        margin-left: 2%;
        text-align: center;
    }
    .contact {
        width: 98%;
        margin-left: 2%;
        text-align: center;
    }
    .contact img {
        margin: 0;
        width: 30%;
    }
}
@media only screen and (max-width: 33rem) {
    header img {
        display: inline-block;
        width: 110%;
        margin-left: 85%;
    }
     header > nav {
        width: 100%;
    }
    header > nav > ul > li {
        display: block;
        width: auto;
    }
    header > nav > ul > li > a {
        padding: 5% 2%;
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 89rem) {
    body {
        width: 89rem;    
}
}